
@{
    ViewBag.Title = "Contact2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Webmaster 1-a. Yol</h2>
<p>@ViewBag.Ad</p>
<p>@ViewBag.Mail</p>
<p>@ViewBag.Tel</p>

<h2>Webmaster 1-b. Yol</h2>
<p>@ViewBag.Webmaster.Ad</p>
<p>@ViewBag.Webmaster.Mail</p>
<p>@ViewBag.Webmaster.Tel</p>
